
{{#each results}}
    {{#if saved}}
     <ul>
        <li>{{title}}</li>
        <li><a href="https://hackernoon.com{{url}}">Link</a></li>
        <li><a href="{{tag}}">Tag</a></li>
        <li><img style="width:150px; height: 150px; background: orange;" src="" alt=""></li>
        <button id="leaveNote" data-id="{{_id}}" class="makeNote">Add Note</button>
        
        </ul> 
        {{/if}}
{{/each}}