<div class="container">
    <div class="row">
      <div class="one-half column">
        <h4>My Creative Homework Assignment</h4>
        <p>Information from my database will be displayed here somewhere</p>
        <p>{{results}}</p>
      </div>
    </div>
  </div>

