 
<div class="container">
    <div class="row">
      
        <h4>Choose A Language</h4>
        <ul class="buttons">
          <li>{{> buttons/js-block}}</li>
          <li>{{> buttons/nodejs-block}}</li>
          <li>{{> buttons/reactjs-block}}</li>
        </ul>
      
        
        
        
      
    </div>
  </div>

