 
<div class="container">
    <div class="row">
        <button id="scrapeNewArticles">Get New Articles</button>
        <button id="viewSaved"><a href="/saved">View Saved Articles</a></button>
        <h4>Javascript News</h4>
        <div id="articles">
        {{> results/results-block}}
        </div>
        
        
      
    </div>
  </div>

