 
<div class="container">
    <div class="row">
        <button id="scrapeNewArticles">Get New Articles</button>
        <h4>Javascript News</h4>
        <div id="articles">
        {{> results/results-block}}
        </div>
        
        
      
    </div>
  </div>

