  {{> navbar/navbar-block}}
<div class="container">
    <div class="row">
      <div class="one-half column">
        <h4>Choose A Language</h4>
        <ul>
          <li>{{> buttons/js-block}}</li>
          <li>{{> buttons/nodejs-block}}</li>
          <li>{{> buttons/reactjs-block}}</li>
        </ul>
     
        {{!-- <p>{{results}}</p> --}}
        
      </div>
    </div>
  </div>

