 
<div class="container">
    <div class="row">
        <button class="btn btn-float blue lighten-3 black-text" id="scrapeNewArticles">Get New Articles</button>
        <button class="btn btn-float blue lighten-3 black-text" id="viewSaved"><a class="black-text" href="/saved">View Saved Articles</a></button>
        <h4>Javascript News</h4>
        <div id="articles">
        {{> results/results-block}}
        </div>
        

    {{log results}}
      
    </div>
  </div>

 <script src="assets/js/getArticle.js"></script>