 
<div class="container">
    <div class="row">
      <a class="btn btn-float blue lighten-3 black-text" href="/">Home</a>

        <h4>Saved Articles</h4>
        <div id="articles">
        {{> results/saved-block}}
        </div>
  

    

  
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h5>Title</h5>
      <input type="text" id="title">
      <h5>Body</h5>
      <input type="text" id="body">
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat" id="saveNoteEvent">Add Note</a>
    </div>
  </div>
      
    </div>
  </div>

  <script src="assets/js/noteArticle.js"></script>