body {
    background: lightgray;
    
}
h4 {
    color: black;
    text-align: center;
}

#scrapeNewArticles {
    display: block;
    margin: 10px auto;
}
#viewSaved {
    display: block;
    margin: 5px auto;
}

